body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px !important;
    padding: 0 15px;
    margin: 0 auto;
}

p, li {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

button {
    font-weight: 900;
    text-transform: uppercase;

}

p {
    color: #292929;
    font-size: 1em;
}

h1 {
    font: 60px/50px $font-main;
}


h2 {
    font: 48px/50px $font-main;
}