$primary: hsl(210, 97%, 47%);
$primary-light: hsl(210, 97%, 60%);
$dark: hsl(225, 71%, 38%);
$white: #f5f5f5;
$light-gray: #f6f7f8;
$light-black: #202020;
$gray: #e7e7e7;
$dark-gray: #a2a2a2;
$black: #222222;
$main-dark: #011C47;
$red: rgba(240, 4, 4, 0.5);

$font-main: 'RussoOne', sans-serif;
$font-sub: 'TekoLight', sans-serif;
$font-heading: 'PoppinsBold', sans-serif;
$font-para: 'PoppinsLight', sans-serif;


